.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.grilla-peliculas {
  display: grid;
  width: 90vw;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 30px;
}

img {
  width: 80%;
}

h1 {
  margin-top: 10px;
  padding: 10px;
  color: #eee;
  text-align: center;
}

.pagination {
  max-width: 60%;
  padding: 0 100px;
}

.pagination button {
  background-color: #8683e6;
  margin: 15px 0;
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem;
  transition: transform 0.2s;
  color: #eee;
  margin: 0 20px;
}

.pagination button:hover {
  transform: scale(1.05);
  background-color: #4a45e6;
}

.pagination button:disabled {
  background-color: #4a45e68c;
  cursor: not-allowed;
  pointer-events: none;
}

@media (max-width: 700px) {
  .pagination {
    padding: 0;
    max-width: 100%;
  }
}
