.movie-detail {
  width: 100%;
}

.banner {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative; 
  z-index: 1;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.content {
  display: flex;
  gap: 30px;
  margin-top: -120px;
  position: relative;
  z-index: 10;
  padding: 0 20px;
}

.poster {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.text-info h1 {
  margin-top: 0;
  font-size: 2rem;
  color: #eee;
}

.tagline {
  font-style: italic;
  color: #8683e6;
  margin-bottom: 20px;
}

.overview {
  line-height: 1.5;
  margin-bottom: 20px;
  color: #eee;
}

.genre-pill {
  background-color: #eee;
  padding: 5px 12px;
  border-radius: 20px;
  margin: 10px;

  font-size: 0.9rem;
  display: inline-block;
}

.banner::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  
  background: linear-gradient(to bottom, transparent 0%, #111 100%);
  
  pointer-events: none;
  z-index: 2;
}

@media (max-width: 700px) {
  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .genre-pill {
    margin: 5px;
  }
}
